# Compiled class files
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.log
logs/
target/

# IDE files (IntelliJ IDEA)
.idea/
*.iml
*.ipr
*.iws
out/


target/
build/


# Operating System files
.DS_Store
Thumbs.db
.localized